<div class="container my-3">
  <h2>Discover our cute dogs</h2>
  <div class="row justify-content-center">
      <div class="col-sm-8">
        <%= form_with url: dogs_path, method: :get, class: "d-flex" do %>
        <p>SIZE</p>
            <% Dog::SIZES.each do |size| %>
            <div data-controller="paw-size">
              <%= check_box_tag 'size[]', size, false, class: 'category-selector', data:{paw_size_target:"checkbox"} %>
              <label data-action="click->paw-size#select" for="<%=size%>" style="font-size:<%= Dog.paws_pixels(size) %> ">
                <i class="fa-solid fa-paw" style="color: #aef0ad;"></i>
              </label>
              </div>
            <%end%>
            <p>GENDER</p>
            <% Dog.genders.keys.each do |gender| %>
              <%= check_box_tag 'gender[]', gender, false, class: 'category-selector' %>
              <%# <label data-action="click->paw-size#select" for="<%=gender%>
              <%# " style="font-size:<%= Dog.gender_icon(gender) %>
              <label><%= Dog.gender_icon(gender) %></label>
            <%end%>
            <p>RATE RANGE</p>
            <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
            </div>
            <%= submit_tag "WOOF!", name: "", class: "btn btn-white btn btn-outline-success" %>
          <% end %>
        </div>
      </div>

  <div class="main-container my-3">
    <div class="cards">
      <% @dogs.each do |dog| %>
        <div class= "dog-card" style="background-image">
          <%= image_tag (dog.photo.attached? ? cl_image_path(dog.photo.key) : dog.image_url), class: "dogs-image"%>
          <div>
            <h2><%= dog.name %></h2>
            <%= link_to 'PET ME', dog_path(dog), class: 'card-category-link'%>
          </div>
        </div>
      <% end %>
    </div>
    <%= render 'dogs/map', markers: @markers %>
  </div>
</div>
