<div class="container">
  <div class="text-center">
    <h1>My Dogs For Rent</h1>
  </div>
  <ul class="nav tabs-underlined" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <span class="nav-link tab-underlined active" id="bookings-tab" data-bs-toggle="tab" data-bs-target="#bookings-tab-pane" role="tab" aria-controls="bookings-tab-pane" aria-selected="true">Future Bookings</span>
    </li>
    <li class="nav-item" role="presentation">
      <span class="nav-link tab-underlined" id="requests-tab" data-bs-toggle="tab" data-bs-target="#requests-tab-pane" role="tab" aria-controls="requests-tab-pane" aria-selected="false">Past Bookings</span>
    </li>
    <li class="nav-item" role="presentation">
      <span class="nav-link tab-underlined" id="conversations-tab" data-bs-toggle="tab" data-bs-target="#conversations-tab-pane" role="tab" aria-controls="conversations-tab-pane" aria-selected="false">Pending</span>
    </li>
  </ul>
  <div class="tab-content p-4" id="myTabContent">
    <div class="tab-pane fade py-3 show active" id="bookings-tab-pane" role="tabpanel" aria-labelledby="bookings-tab" tabindex="0">
      <h3>Future  Bookings</h3>
      <% if @future_bookings.nil?  %>
        <p>Sorry no current bookings</p>
      <% else   %>
        <% @future_bookings.each do |booking| %>
          <div class="card-product">
            <%= image_tag (booking.dog.photo.attached? ? cl_image_path(booking.dog.photo.key) : booking.dog.image_url) %>
            <div class="card-product-infos">
              <h2> <%=booking.dog.name  %></h2>
              <strong>
                <p>  <%=booking.user.first_name%>: is renting your dog</p>
              </strong>
              <div class="d-flex">
                <p>  <%= booking.start_date.strftime("%b %d") %> - </p>
                <p>  <%= booking.end_date.strftime("%b %d")%></p>
              </div>
              <% if booking.pending? %>
                <div class="d-flex">
                  <%= simple_form_for booking do |f| %>
                    <%= f.input :status, as: :hidden, input_html: { value: 'accepted'} %>
                    <%= f.submit 'Accept', class: 'btn btn-info' %>
                  <% end %>
                  <%= simple_form_for booking do |f| %>
                    <%= f.input :status, as: :hidden, input_html: { value: 'rejected'} %>
                    <%= f.submit 'Reject', class: 'btn btn-light' %>
                  <% end %>
                </div>
              <% else %>
                <p class='booking-tag booking-<%= booking.status %>'><%= booking.status %></p>
              <% end %>
            </div>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade py-3" id="requests-tab-pane" role="tabpanel" aria-labelledby="requests-tab" tabindex="0">
      <h3>Past Bookings</h3>
      <% if @past_bookings.nil?  %>
        <p>Sorry no current bookings</p>
        <h2>Past Bookings</h2>
      <% else   %>
        <% @past_bookings.each do |booking| %>
          <div class="card-product">
            <%= image_tag (booking.dog.photo.attached? ? cl_image_path(booking.dog.photo.key) : booking.dog.image_url) %>
            <div class="card-product-infos">
              <h2><%=booking.dog.name%></h2>
              <strong>
                <p><%=booking.user.first_name%>: rented your dog</p>
              </strong>
              <div class="d-flex">
                <p>  <%= booking.start_date.strftime("%b %d") %> - </p>
                <p>  <%= booking.end_date.strftime("%b %d")%></p>
              </div>
            </div>
           <%= render 'reviews/form', review: @review, user: booking.user %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="tab-pane fade py-3" id="conversations-tab-pane" role="tabpanel" aria-labelledby="conversations-tab" tabindex="0">
    </div>
  </div>
</div>
