<div class="navbar navbar-expand-sm navbar-light navbar-lewagon flexbox fixed-top">
<div class="container">

<div class= "flexbox">
    <%= link_to 'ðŸ¶', dogs_path, class: 'nav-bar-link-home'%>
    <h1> <strong> Dogs For Days <strong></h1> </div>

<div>

      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
          </li>
          <li class="nav-item">
          </li>


<%= link_to 'My Bookings', bookings_path, class: 'nav-bar-link' %>
<%= link_to 'My Dogs', owner_bookings_path, class: 'nav-bar-link' %>
<%= link_to 'Add Your Dog', new_dog_path, class: 'nav-bar-link' %>
 <%= link_to "ðŸšª", destroy_user_session_path, class: 'nav-bar-link',data: {turbo_method: :delete} %>
          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-bar-link" %>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
</div>
