<div class="navbar navbar-expand-sm navbar-light navbar-lewagon flexbox">
<div class="container">

<div class= "flexbox">
    <%= link_to 'ðŸ¶', root_path, class: 'nav-bar-link-home'%>
    <h1>  Dogs For Days </h1> </div>

<div>
<%= link_to 'My Bookings', owner_bookings_path %>
<%= link_to 'Add Your Dog', new_dog_path %>
      <ul class="navbar-nav me-auto">
        <% if user_signed_in? %>
          <li class="nav-item active">
          </li>
          <li class="nav-item">
          </li>

              <%= link_to "Log out", destroy_user_session_path, class: 'nav-bar-link',data: {turbo_method: :delete} %>

          </li>
        <% else %>
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-bar-link" %>
          </li>
        <% end %>
      </ul>
      </div>
    </div>
</div>
